<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="mybefore" class="com.bjsxt.test.MyBeforeAdivce"></bean>
    <bean id="myafter" class="com.bjsxt.test.MyAfterAdvice"></bean>
    <bean id="demo" class="com.bjsxt.test.Demo"></bean>

    <aop:config>
        <aop:pointcut id="mypoint" expression="execution(* com.bjsxt.test.Demo.print1())"></aop:pointcut>
        <aop:advisor advice-ref="mybefore" pointcut-ref="mypoint"></aop:advisor>
        <aop:advisor advice-ref="myafter" pointcut-ref="mypoint"></aop:advisor>
    </aop:config>
</beans>