<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bjsxt.mapper.LogMapper">
    <select id="selAll" resultType="Log">
        select * from log
    </select>

    <select id="selByAccoutAccin" resultType="log">
        select * from log where accout=#{0} and accin=#{1}
    </select>

    <select id="sel" resultType="Log">
        select * from log where 1=1
        <if test="accout!=null and accout!=''">
            and accout=#{accout}
        </if>

        <if test="accin!=null and accin!=''">
            and accin=#{accin}
        </if>
    </select>

    <insert id="ins" parameterType="Log">
        insert into log values (default ,#{accout},#{accin},#{money},#{date})
    </insert>
</mapper>
